<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>COVID-19 tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>

<div class = "container">

    <h1 class="display-4">한국 시도별 발생동향</h1>
    <p class="lead">한국의 코로나19 현황테이블</p>

    <div class="jumbotron">
        <h1 class="display-4" th:text="${koreaCovid[0].total}"></h1>
        <p class="lead">총 확진환자</p>
        <hr class="my-4">
        <p>
            <span>전일 대비 증가한 확진자 수</span>
            <span th:text="${koreaCovid[0].DTD_Total}">0</span>
        </p>
    </div>

    <table class= "table">
        <tr>
            <th>지역</th>
            <th>합계</th>
            <th>국내발생</th>
            <th>해외유입</th>
            <th>확진환자</th>
            <th>사망자</th>
            <th title = "인구 10만 명당">발생률(*)</th>
        </tr>
        <tr th:each = "stat : ${koreaCovid} ">
            <td th:text = "${stat.city}"> </td>
            <td th:text = "${stat.DTD_Total}"></td>
            <td th:text = "${stat.DTD_Kor}"></td>
            <td th:text = "${stat.DTD_Foreign}"> </td>
            <td th:text = "${stat.total}"></td>
            <td th:text = "${stat.death}"></td>
            <td th:text = "${stat.incidence}"></td>
        </tr>
    </table>
</div>

</body>
</html>